---
import Social from './social.astro';
---
<style>
    footer {
        display: flex;
        gap: 0.5rem;
        margin-top: 2rem;
        justify-content: space-between;
    }

</style>


<footer>
    <p>This is an open source learning project built to test my knowledge. If you wish to contribute check out the repo on <a href="https://github.com/matsrm/mplus-hub">GitHub</a>!</p>
    <Social platform="github" username="matsrm" />
</footer>