---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/team/">Team</a>
    <a href="/login">Login</a>
</div>

<style>
    a {
        padding: 0.5rem 0.5rem;
        color: white;
        background-color: #391e61;
        text-decoration: none;
    }
</style>