---
const { platform, username } = Astro.props;
---

<div class="social-icons">
    <a href={`https://www.${platform}.com/${username}`} style ="text-decoration: none" target="_blank" title={platform}>
        <i class={`fa-brands fa-${platform}`}></i>
    </a>
</div>

<style>
    a {
        display: flex;
        color: black;
        padding: 0.5rem 0.1rem;
        text-decoration: none;
    }

    .social-icons {
        font-size: 32px;
        text-decoration: none;
    }
</style>